<!-- http://openweathermap.org/api -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Weather Forecast using OpenWeatherMap by Ryan Pratt</title>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.js"></script>
  <script src="forecast.js"></script>
  <link rel="stylesheet" type="text/css" href="css/main.css"/>
</head>
<body ng-app="forecast">
  <div ng-controller="forecast as weather_data">
    <form name="mainForm">
      <label for="location">Please enter [City], [City, State], [City, Country] or [Zip]:</label>
      <input type="text" ng-model="location"/>
      <button ng-click="change()">Update</button>
      <div ng-show="displayForm">
        <form name="forecastForm">
          <!--[TODAY] -->
          <h1>{{ data_day.name }}, {{ data_day.sys.country }}</h1>
          <h2>Right now!</h2>
          {{ data_day.main.temp }} degrees - {{ data_day.weather[0].main }} ({{ data_day.weather[0].description }})
          <br>
          High of {{ data_day.main.temp_max }} and Low of {{ data_day.main.temp_min }}
          <hr width='50%'>

          <!--[7-DAY] -->
          <h2>7 Day Forecast!</h2>
          <div ng-repeat="day in data_week.list">
            <span class="day">
              <h3>Day {{ $index + 1 }}</h3>
              {{ day.weather[0].main }} ({{ day.weather[0].description }})
              <br>
              High of {{ day.temp.max }} and Low of {{ day.temp.min }}
              <hr width="25%">  
            </span>
          </div>
        </form>
      </div>
    </form>
  </div>
</body>
</html>